<div class="container mt-3">
  <table class="table table-hover">
    <thead class="table-secondary">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Reported</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
    {% for issue in issues.items %}
      <tr>
        <td><a href="{{ url_for('main.issue', id=issue.id) }}">{{ issue.title }}</a></td>
        <td>{{ issue.author.name }}</td>
        <td>{{ moment(issue.timestamp).format('LLL') }}</td>
        <td>
            {% if issue.status == "Open" %}
                <span class="badge rounded-pill bg-primary">OPEN</span>
            {% elif issue.status == "In Progress" %}
                <span class="badge rounded-pill bg-info">In Progress</span>
            {% elif issue.status == "In Review" %}
                <span class="badge rounded-pill bg-warning">In Review</span>
            {% else %}
                <span class="badge rounded-pill bg-success">CLOSED</span>
            {% endif %}
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('main.issues', page=issues.prev_num) }}"
       class="btn btn-outline-dark
       {% if issues.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
{% for page_num in issues.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if issues.page == page_num %}
            <a href="{{ url_for('main.issues', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('main.issues', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('main.issues', page=issues.next_num) }}"
       class="btn btn-outline-dark
       {% if issues.page == issues.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ issues.page }} of {{ issues.pages }}
</p>