{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}


<div class="page-header">
    <h1>Edit Issue</h1>
</div>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
        </div>

        <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <br/>
        <div class="field">
            {{ form.department_id.label(class="switch") }}
            {{ form.department_id(class="switch") }}
        </div>
        <br/>
        <div class="field">
            {{ form.status.label(class="switch") }}
            {{ form.status(class="switch") }}
        </div>
        <br>
        <div class="field">
            {{ form.priority.label(class="switch") }}
            {{ form.priority(class="switch") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>


    </form>

</div>



{% endblock %}