{% extends "base.html" %}


{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
<div class="border border-primary shadow-sm text-center bg-light">
    <h1>itracker</h1>
    <img class="mb-4" src="{{ url_for('.static', filename='img/iTracker-logo2.png') }}" alt="" width="72" height="57">
    <br/>
    {% if current_user.is_authenticated %}
    <h2>Welcome {{ current_user.name }}</h2>
    {% else %}
    <h2>Please Log In to Create Issues</h2>
    {% endif %}
</div>

{% endblock %}