{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}


<div class="page-header">
    <h1>Issue</h1>
</div>

<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{ issue.title }}</h2>
    Reported by: {{ issue.author.name }}<br/>
    Reported at: {{ moment(issue.timestamp).format('LLL') }} <br/>
    Description: {{ issue.description }} <br/>
    Assigned to: {{ issue.assigned_to }} <br/>
    {% if issue.status %}
    Status: OPEN
    {% else %}
    Status: CLOSED
    {% endif %}
</div>

<div>
<h4 id="comments">Comment section:</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment_form">
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
        </div>

        <div class="form-group">
            {{ form.body.label(class="form-label")}}
            {{ form.body(class="form-control")}}
        </div>

        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-sm")}}
        </div>

    </form>
    </div>
{% endif %}
</div>

{% include '_comments.html' %}
</div>

<a href="{{ url_for('main.issues') }}" class="btn btn-outline-secondary btn-sm">Back to Issues</a>
{% if current_user.is_administrator() or current_user.is_moderator() %}
<a href="{{ url_for('.edit_issue', id=issue.id) }}" class="btn btn-outline-danger btn-sm">Edit Issue</a>
{% endif %}

{% endblock %}