{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}


<div class="page-header">
    <h1>Issues</h1>
</div>

{% for issue in issues %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <h2><a href="{{ url_for('main.issue', id=issue.id) }}">{{ issue.title }}</a></h2><br>
    By:{{ issue.author.name }} <br>
    {{ issue.timestamp }} <br>
    {{ issue.description }} <br>
    {% if issue.status %}
    Status: OPEN
    {% else %}
    Status: CLOSED
    {% endif %}
    <br/>
    <br/>
    <a href="{{ url_for('main.issue', id=issue.id) }}" class="btn btn-outline-secondary btn-sm">View Issue</a>

</div>
{% endfor %}


{% endblock %}