{% extends "base.html" %}


<title>{% block title %}ITracker - {{ current_user.name }}{% endblock %}</title>

{% block content %}
<div class="page-header">
    <h1>{{ current_user.name }}</h1>

    {% if user.job_description %}
        <p>{{ user.job_description }}</p>
    {% endif %}

    <p>Member since {{ moment(current_user.user_added).format('LLL') }}.</p>
        <p>
        <a class="btn btn-primary" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
    </p>
</div>
<h3>Issues opened by {{ current_user.name }}.</h3>
{% include '_issues2.html' %}

{% endblock %}